<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create store</title>
  </head>
  <body>

    <form action="/create/store" method="post">
      <fieldset>
        <legend>Create Store</legend>
        <input type="text" name="name" placeholder="Store Name"> <br> <br>

        <textarea name="description" rows="8" cols="80" placeholder="Store description"></textarea><br> <br>

        <input type="submit" value="Add">
      </fieldset>
    </form>
    <a href="/">Home Page</a>
  </body>
</html>
